*{

 margin:0;
 padding:0;
 box-sizing: border-box;

}

div.main{
max-width: 1200px;
display: grid;
place-content: center;
}
button.button{
  background-color: burlywood;
  border: none;
  outline: none;
}
button.button:focus, button.button:hover{
 border: 1px solid brown;
}